@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Poppins:wght@300;400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: black;
}

.main {
    background-image: url("assets/images/bg.jpg");
    background-position: center center;
    background-size: max(1200px, 100vw);
    background-repeat: no-repeat;
    height: 80vh;
    position: relative;
}

.main .box {
    opacity: 0.69;
    height: 80vh;
    width: 100%;
    position: absolute;
    top: 0;
    background-color: black;
}

nav {   
    max-width: 60vw;
    justify-content: space-between;
    margin: auto;
    display: flex;
    align-items: center;
    height: 80px;
}

nav img {
    color: red;
    width: 130px;
    position: relative;
    z-index: 10;
    filter: brightness(1.2);
}

nav button {
    position: relative;
    z-index: 10;
}

.hero{
    font-family: 'Martel Sans', sans-serif;
    display: flex;
    flex-direction: column;
    color: #ffffff;
    justify-content: center;
    align-items: center;
    height: calc(100% - 80px);
    position: relative;
    z-index: 2;
    gap: 7px;
    padding: 0 23px;
}

.hero> :first-child{
    font-family: 'Poppins', sans-serif;
    font-weight: 550;
    font-size: 30px;
    text-align: center;
}

.hero> :nth-child(2){
    font-weight: 100;
    font-size: 22px;
    text-align: center;
}           


.hero> :nth-child(3){
    font-weight: 100;
    font-size: 18px;
    text-align: center;
}

.hero-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.btn{
    padding: 2px 8px;
    font-weight: 400;
    color: #ffffff;
    background-color: rgba(248, 243, 243, 0.021);
    border-radius: 4px;
    border: 1px solid white;    
    cursor: pointer;
}

.red-btn{
    background-color: red;
    color: #ffffff;
    padding: 2px 18px;
    font-size: 12px;
    border-radius: 4px;
    font-weight: 550;
    
}

.red-btn-sm{
    background-color: red;
    color: #ffffff;
    padding: 2px 12px;
    border-radius: 4px;
    font-weight: 400;
    
}

.seperation{
    height: 4px;
    background-color: rgb(52, 52, 52);
    position: relative;
    z-index: 20;
}
.main input{
    padding: 4px 99px 4px 14px;
    color: #ffffff;
    font-size: 10px;
    border-radius: 4px;
    background-color: rgba(23, 23, 23, 0.7);
    border: 1px solid rgba(246, 238, 238, 0.5);
}

.first{
    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color: #ffffff;
    align-items: center;
}


.secimg{
    position: relative;
}

.secimg img{
    width: 355px;
    position: relative;
    z-index: 10;
}

.secimg video{
    width: 305px;
    position: absolute;
    top: 40px;
    right: 0;
}

section.first > div{
    display: flex;
    flex-direction: column;
    margin: 20px ;
}
section.first > div :nth-child(1){
    font-size: 30px;
    font-weight: bolder;
}

section.first > div :nth-child(2){
    font-size: 15px;
}

.faq h2 {
    text-align: center;
    font-size: 30px;
}

.faq {
    background: black;
    color: white;
    padding: 60px;
}

.faqbox:hover {
    background-color: #414141;
    color: white;
}

.faqbox svg{
    filter: invert(1);
}

.faqbox{
    transition: all 1s ease-out;
    max-width: 60vw;
    display: flex;
    justify-content: space-between;
    margin: 7px auto;
    color: #ffffff;
    background-color: #2d2d2d;
    font-size: 16px;
    padding: 10px;
    cursor: pointer;
}

.bottom{
    text-align: center;
    padding: 27px;
    padding-bottom: 15px;
    font-size: 12px;
}

footer{
    color: white;
    max-width: 60vw;
    margin: auto;
    padding: 50px; 

}

.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
}

.footer a{
    text-decoration: none;
    color: white;
    font-size: 10px;
}

footer .questions{
    color: white;
    padding: 34px 0px;
}

.footer-item{
    display: flex;
    flex-direction: column;
    gap: 23px;
}

@media screen and (max-width: 1000px){

    nav{
        max-width: 90vw;
    }
    .footer{
        grid-template-columns: 1fr 1fr;
        gap: 55px;
    }

    footer{
        max-width: 90vw;
    }

    .first{
        flex-wrap: wrap;
    }

    .hero> :first-child{
    font-weight: 300;
    font-size: 20px;
    }

    .hero> :nth-child(2){
        font-weight: 50;
        font-size: 12px;
    }  

    .hero> :nth-child(3){
        font-weight: 50;
        font-size: 12px;
    }    
    
    .hero-btn{
        /* flex-wrap: wrap; */
        flex-direction: column;
    }
}